<div class="row">
<h1 class="col-10">User details</h1>
<div class="col-1 ml-3">
<%= link_to "Back", users_path, class: "btn btn-primary " %>
</div>
</div>
<%= render 'shared/user_card', user: @user %>

<div class="user-bio">
<%= render 'shared/user_bio', user: @user%>
</div>
 <% if @three_posts.any? %>
<% @three_posts.each do  |p| %>
<%= render 'shared/post_card', post: p %>

<%end%>
<%= link_to "See all posts", user_posts_path(@user), class: "d-flex justify-content-center mt-3 "  if @three_posts.length > 0 %>
 <% else %>
  <p class ="lead text-danger text-center"> No posts for this user yet </p>
 <% end %>
