    <div class="border-bottom border-primary  p-3">
      <div class="card-title text-primary lead"><%=  link_to user_post_path(current_user, post)  do %> 
   <h4 class= "text-info">   <%=  post.title %> </h4>
      <% end %>
  
<% if can? :manage, post %>
  <%= link_to "Delete Post", user_post_path(current_user, post), data: {
                    turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
    <% end %>

      </div>
      <div class="card-text text-secondary lead"><%= post.text.length >90 ? post.text.first(90).concat("..."): post.text %></div>
      <div class ="row">
     <div class="col-8"> </div>
      <div class=" col-2  text-info"> 

<span class="fa fa-comment btn"></span>

Comments: <%= post.comments_counter || 0%></div>




        <%= render partial: "shared/like_form", locals: {like: Like.new, user: post.author, post: post}  %>
     </div>
    </div>
 