    <div class="border-bottom border-primary  p-3">
      <div class="card-title text-primary lead"><%=  link_to user_post_path(post.author, post)  do %> 
      <%=  post.title %>
      <% end %>
      </div>
      <div class="card-text text-secondary lead"><%= post.text.length >90 ? post.text.first(90).concat("..."): post.text %></div>
      <div class ="row">
     <div class="col-8"> </div>
      <div class=" col-2  text-info">Comments: <%= post.comments_counter || 0%></div>
      <div class="col-1 text-danger">Likes:  <%= post.likes_counter || 0%></div>
     </div>
    </div>
 