    <div class="border-bottom border-primary  p-3">
      <div class="card-title text-primary lead"><%=  link_to user_post_path(post.author, post)  do %> 
      <%=  post.title %>
      <% end %>
      </div>
      <div class="card-text text-secondary lead"><%= post.text.length >90 ? post.text.first(90).concat("..."): post.text %></div>
      <div class ="row">
     <div class="col-8"> </div>
  
     <%= render partial: "shared/comment_form", locals: { comment:  Comment.new, user: post.author, post:  post} %>



        <%= render partial: "shared/like_form", locals: {like: Like.new, user: post.author, post: post}  %>
     </div>
    </div>
 