<div class="row">
<h1 class="col-6">Posts list</h1>
<div class="col-4  menu">
<%= link_to "New Post", new_user_post_path(@user) %>
<%= link_to "Back", users_path, class: "link " %>
</div>
<p class= "text-success"><%= notice %></p>

</div>
<% if @posts.any? %>
<%=  render  'shared/user_card',  user: @user%>

<% @posts.each do |p| %>
   <div class ="border">
   <%= render 'shared/post_card', post: p %>
  
   <%= render 'shared/post_comment', comments: p.recent_five_comments if p.recent_five_comments.any? %>
 </div>
   <% end %>

 


<% else %>
  <p> This user doesn't have any post yet! </p>
<% end %>




<button type="button">Pagination</button>