 <div class="d-flex justify-content-between">
<h1 class="text-primary">Post details</h1>
<%=  link_to "Back", user_posts_path(@user) %>
</div>
 <div class="row">
   <p class="text-info col-6">  <%= @post.author.name %> </p>
  
    <p class="text-info col-3"> Comments: <%=   @post.comments_counter || 0 %> </p>
      <%= render partial: "shared/like_form", locals: {like: Like.new, user: @post.author, post: @post}  %> 
   <hr>
 </div>


 <div class ="border-bottom">
    <h4 class="card-title border-bottom lead text-primary"> <%= @post.title %></h4> 
    <p class="text-muted mt-2"><%= @post.text %></p>
 
 
     <%= render partial: "shared/comment_form", locals: { comment:  Comment.new, user: @post.author, post:  @post} %>


 <%= render 'shared/post_comment', comments: @comments if @comments.any? %>
 </div>
  </div>


